.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;;
    padding: 10px;
}
.navbar button {
    margin-right: 10px;
}

a {
    color: black;
    text-decoration: none;
}
